<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="../css/register.css">
</head>
<body>
    <div class="register-form">
        <div class="form-field">
            <input type="text" placeholder="Nombre y Apellido" required>
        </div>

        <div class="form-field">
            <input type="text" placeholder="Nombre de usuario" required>
        </div>

        <div class="form-field">
            <input type="email" placeholder="Email"required>
        </div>

        <div class="form-field">
            <label class="bold">Fecha de nacimiento</label>
            <input type="date" required>
        </div>

        <div class="form-field">
            <input type="text" placeholder="Domicilio" required>
        </div>

        <div class="form-field">
            <label class="bold">Perfil de usuario</label>
            <div class="radio-group">
                <label><input type="radio" name="profile" value="comprador" required> Comprador</label>
                <label><input type="radio" name="profile" value="vendedor" required> Vendedor</label>
            </div>
        </div>

        <div class="form-field">
            <label class="bold">Categorías de interés</label>
            <div class="checkbox-group">
                <input type="checkbox" name="interests" id="electro">
                <label for="electro">Electro</label>
        
                <input type="checkbox" name="interests" id="moda">
                <label for="moda">Moda</label>
        
                <input type="checkbox" name="interests" id="hogar">
                <label for="hogar">Hogar</label>
        
                <input type="checkbox" name="interests" id="jugueteria">
                <label for="jugueteria">Juguetería</label>
        
                <input type="checkbox" name="interests" id="vida_sana">
                <label for="vida_sana">Vida Sana</label>
            </div>
        </div>
        

        <div class="form-field">
            <label class="bold">Foto de usuario</label>
            <input type="file">
        </div>

        <div class="form-field">
            <label class="bold">Contraseña</label>
            <input type="password" placeholder="Contraseña" required>
        </div>

        <div class="form-field">
            <label class="bold">Confirmar contraseña</label>
            <input type="password" placeholder="Confirmar contraseña" required>
        </div>

        <div class="button-group">
            <button type="submit">Enviar</button>
            <button type="reset">Borrar Datos</button>
        </div>
    </div>
</body>
</html>