
main {  /* DATO IMPORTANTE puse main a todo como main .log-form, main form,main label etc porque genereaba conflicto con styles.css al poner main se arreglo*/
    width: 50%;
    margin: 50px auto;
}

main form {
    display: flex;
    flex-direction: column;
}

main input {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%; /* para ajustar el ancho de nombre y contraseña */
    height: 40px; /* para ajustar la altura del rectangulo de nombre y contraseña */
}

main button {
    background-color: #007BFF;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

main button:hover {
    background-color: #0056b3;
}
