body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.register-form {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 250px; /* Ajusta este valor según sea necesario */
    margin-bottom: 0; /* Ajusta este valor según sea necesario */
}

.form-field {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; /* Añade este estilo para que los elementos internos se apilen verticalmente */
}

.form-field label {
    font-size: 14px;
    margin-bottom: 5px;
}
.form-field label.bold {
    font-weight: bold;
}

.form-field input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    box-sizing: border-box;
}

.radio-group {
    display: flex;
    margin-bottom: 15px;
}

.radio-group label {
    margin-right: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.radio-group input {
    margin-right: 5px;
}

.checkbox-group {
    margin-bottom: 15px;
}

.checkbox-group label {
    display: block;
    margin-bottom: 5px;
}

.checkbox-group input {
    margin-right: 5px;
}

.button-group {
    text-align: center;
}

.button-group button {
    padding: 10px 20px;
    background-color: #0044AA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.button-group {
    text-align: center;
}

.button-group button {
    padding: 10px 20px;
    background-color: #0044AA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}