body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.register-form {
    max-width: 430px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-field {
    margin-bottom: 20px;
}

.form-field label.bold {
    font-weight: bold;
    display:block;
    margin-bottom: 5px;
    
}

.form-field input[type="text"],
.form-field input[type="email"],
.form-field input[type="password"],
.form-field input[type="date"],
.form-field input[type="file"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /* Cambia la dirección del contenedor a columna para alinear verticalmente */
    align-items: flex-start; /* Alinea los elementos al principio del contenedor (horizontal) */
}
.checkbox-group label {
    margin-left: 10px; /* Ajusta el margen izquierdo  */
    margin-bottom: 10px; /* Ajusta el margen inferior  */
    position: relative; 
    bottom: 15px;
    left: 20px;
}

.checkbox-group input {
    margin-right: 10px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-inline: 50px;
}

.button-group button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button-group button[type="reset"] {
    background-color: #f44336;
}
