*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    
    .product-desc-box > .product-delivery-icon{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    }
    
    .product-desc-box {
    position: relative;
    }

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 12px;
}

div.top-header {
    padding: 5%;
}

header {
    background-color: #EAC926;
}

header div.logo {
    width: 50%;
}

header div.logo {
    padding: 10px;
}

header nav {
    font-size: 12px;
}

header ul li {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: #000;
}
header .form {
    display: flex; /* Utiliza flexbox para alinear los elementos en línea */
    align-items: center; /* Centra verticalmente los elementos en el contenedor */
}
header .form .input {
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    margin-right: 5px; /* Ajusta el margen entre el campo de búsqueda y la lupa */
    height: 18px; /*para ajustar el alto del rectangulo de busqueda*/
    
    
}

header .form .submit {
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 3%;
    height: 20px; /*para ajustar el alto del rectangulo de la lupa lupa*/
}

header div.top-header p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

div.burger-menu {
    text-align: center;
}

div.burger-menu i {
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

main {
    width: 90%;
    margin: 0 auto; /* Centra el contenido */
}

main section {
    margin-bottom: 10px; /* Espacio entre secciones */
}

main section article {
    position: relative;
    background-color: #fff;
    margin-bottom: 10px;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

main section article img {
    width: 100%;
}

main section article div.main-article {
    position: relative;
    margin-top: 10px; /* Agrega un margen superior para separar del contenido anterior */
    border-top: 2px solid #ebebeb; /* Borde superior dentro de la caja del artículo */
    padding: 15px; /* Espaciado interno dentro de la caja del artículo */
}


main section article i.fa-truck {
    position: absolute;
    top: -15px;
    right: 0;
    background-color: #fff;
    border: 1px solid #39b54a;
    border-radius: 50%;
    padding: 10px;
    color: #39b54a;
    display: inline-block;
}
/* Ajustes adicionales para el ícono del camión de entrega dentro del círculo */
main section article div.main-article i.fa-truck::before {
    font-size: 20px; /* Tamaño del ícono del camión de entrega */
}
main section article .discount,
main section article .description,
main section article div.main-article h4.description {
    margin-bottom: 35px; /* Ajusta el margen inferior del nombre del producto */
    color: #39b54a;
}
/* Estilos para dispositivos de hasta 480px (mobile) */
@media screen and (max-width: 480px) {
    main section article {
        width: 100%; /* Ocupa el ancho completo del contenedor */
    }
    section.banner img {
        width: 100%; /* Asegura que la imagen ocupe el ancho completo del contenedor */
        height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción original de la imagen */
    }
    header nav {
        display: none; /* Oculta todas las opciones del menú en móviles */
    }

    header .burger-menu {
        display: block;
        position: relative;
        top: 70px; /* bajar burger menu */
        right:45% /* izquierda burger menu */
        
    }
    header {
        display: flex;
        justify-content: space-between; /* Alinea los elementos del encabezado */
        align-items: center;
        
    }

    header div.logo,
    header .form {
        width:80%;
        
        
    }

    header .form .input {
        width: 120px;
        position: relative;
        height: 30px; /* Ajusta la altura del rectángulo */
        background-color: #FFF; /* Fondo blanco */
        border: none; /* Sin bordes */
    bottom:48px;
    left:200px;
    }
    header .form input::placeholder {
        font-size: 12px; /* Ajusta el tamaño del texto */
    }
    header .form .submit {
        /* Hace que el rectángulo de búsqueda ocupe el espacio restante */
        width: auto;
        height: 30px; /* Ajusta la altura de la lupa  */
        background-color: #FFF; /* Fondo blanco */
        line-height: 30px; /* Centra verticalmente el contenido */
        border: none; /* Sin bordes */
        position: relative;
    bottom:48px;
    left:200px;
    }
    .top-header {
        height: 200px; /* O la altura que desees */
    }
     /* Estilo adicional para centrar el texto específico */
     header div.top-header p {
        text-align: center; /* Centra el texto */
        margin:0;
        position: relative;
        left:50px;
     }
     
}
/* Estilos para dispositivos de 768px a 991px (tablets) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    main section.last-visit h3 {
        margin-top: 20px; /* Ajusta el margen superior del texto "Basado en tu última visita" */
        margin-bottom: 10px; /* Ajusta el margen inferior del texto */
    }

    main section.last-visit .products {
        margin-top: 20px; /* Ajusta el margen superior de la sección de productos */
    }
    main section article {
        width: 48%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        display: inline-block; /* Ajusta para mostrar en línea */
        margin-right: 2%; /* Agrega un pequeño margen entre los productos */
    }

    main section article:nth-child(2n) {
        margin-right: 0; /* Elimina el margen derecho para los elementos pares */
    
    }

    header div.logo img {
        width: 50%;
    }

    section.banner img {
        width: 100%; /* Asegura que la imagen del banner ocupe el ancho completo del contenedor */
        height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción original de la imagen */
    }

    header .form .input {
        width: 30%;
        position: relative;
        bottom: 40px;
        left: 200px;
    }

    header .form .submit {
        width: 3%;
        position: relative;
        bottom: 40px;
        left: 200px;
    }

    header div.top-header p {
        position: relative;
        top: -62px;
        left: 230px;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header ul {
        list-style-type: none;
        display: flex;
        margin-top: -50px;
    }

    header ul li {
        margin-right: 35px;
        position: relative;
        left: 15px;
    }
    /* Ajustar altura y margen inferior del rectángulo anaranjado */
    div.top-header {
    position: relative;
    margin-bottom: 40px;
    }
    div.burger-menu {
        display: none;
    }
}

/* Estilos para dispositivos de 1200px en adelante (desktop) */
@media screen and (min-width: 1200px) {
    main section.last-visit h3 {
        margin-top: 20px; /* Ajusta el margen superior del texto "Basado en tu última visita" */
        margin-bottom: 10px; /* Ajusta el margen inferior del texto */
    }

    main section.last-visit .products {
        margin-top: 20px; /* Ajusta el margen superior de la sección de productos */
    }

    main section article {
        width: 23%; /* Mantiene el mismo ancho para desktop */
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        display: inline-block; /* Ajusta para mostrar en línea */
        margin-right: 2%; /* Agrega un pequeño margen entre los productos */
    }

    main section article:nth-child(4n) { /* al poner 4n se agregan los 4 productos se aplicara el estilo a cada 4 elementoS*/
        margin-right: 0; /* Elimina el margen derecho para los elementos pares */
    }

    header div.logo img {
        width: 70%; /* Ajusta el ancho del logo mercadoliebre  */
    }

    section.banner img {
        width: 100%; /* Asegura que la imagen del banner ocupe el ancho completo del contenedor */
        height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción original de la imagen */
    }

    header .form .input {
        width: 20%; /* Ajusta el ancho del campo de búsqueda */
        position: relative;
        bottom: 75px;
        left: 450px;
    }

    header .form .submit {
        width: 3%; /* Ajusta el ancho del botón de búsqueda */
        position: relative;
        bottom:75px;
        left: 450px;
    }

    header div.top-header p {
        width: 100%;
        text-align: center;
        position: relative;
        top: -100px;
        left: 400; /* Adjust this value to move the text up or down */
    }
    

    header nav {
        display: flex; /*para colocar horizontalmente los elementos secundarios como ofertas,ayuda,crea tu cuenta etc.*/
        justify-content: space-between; 
        align-items: center;
    }

    header ul {
        list-style-type: none;
        display: flex;
        margin-top: -100px; /*separacion entre ofertas,tien crea tu cuenta etc contra el margen naranja*/
    }

    header ul li {
        margin-right: 35px; /*la distancia en espacio entre Ofertas---- Tiendas--- crea tu cuenta etc*/
        position: relative;
        left: 15px; /*espacio de separacion entre ayuda y crea tu cuenta*/
    }

    /* Ajustar altura y margen inferior del rectángulo anaranjado */
    div.top-header {
        position: relative;
        margin-bottom: 5px;
    }

    div.burger-menu {
        display: none;
    }
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black; /* Cambia esto al color de texto deseado para el pie de página */
}

.footer-item {
    width: 80%; /* Ajusta según sea necesario para el ancho deseado */
    margin: 20px 0; /* Ajusta según sea necesario para el espacio entre los bloques de texto */
    text-align: center; /* Centra el contenido horizontalmente */
}

.footer-item h4 {
    margin-bottom: 10px; /* Agrega un margen inferior al título */
}

.footer-item p {
    font-size: 14px; /* Ajusta el tamaño del texto  */
    line-height: 1.5; /* Ajusta la altura de línea del texto */
}
.footer-item i {
    color: blue; /* Cambia al color deseado para los iconos del pie de página  */
}
main section article div.main-article h4.description {
    color: black; /* Cambia al color deseado para el texto de los productos */
}